<!DOCTYPE html>
<html lang="en">
<head>
	<title>SIS</title>
    <meta name="keywords" content="">
	<meta name="description" content="">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--
OneTel Template
http://www.templatemo.com/tm-468-onetel
-->
	<!-- stylesheet css -->
	<link rel="stylesheet" href="{{ url_for('static',filename='./css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static',filename='./css/font-awesome.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static',filename='./css/nivo-lightbox.css') }}">
	<link rel="stylesheet" href="{{ url_for('static',filename='./css/nivo_themes/default/default.css') }}">
	<link rel="stylesheet" href="{{ url_for('static',filename='./css/templatemo-style.css') }}">
	<link rel='icon' href='./static/download.ico'>
	<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

</head>
<body>


	<div class="container">
		<div class="navbar navbar-default navbar-static-top" role="navigation">
		<div class="navbar-header">
			<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon icon-bar"></span>
				<span class="icon icon-bar"></span>
				<span class="icon icon-bar"></span>
			</button>
			<a href="#" class="navbar-brand">MCA</a>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/">HOME</a></li>
				<li><a href="/about" class="active">ABOUT US</a></li>
				<li><a href="/contact">CONTACT</a></li>
			</ul>
		</div>
	</div>
</div>

<!-- team section -->
<div id="team">
	<div class="container">

		<div class="row">
			<div class="col-md-offset-2 col-md-8 col-sm-12">
                <h2>Thank You!... We will Get in touch with you shortly.</h2>
			</div>
         </div>
		</div>
	</div>
</div>

<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-5 col-sm-4">
			<a href="#" class="navbar-brand">MCA</a>
				<p>Onetel is free Bootstrap v3.3.5 HTML5 layout from
                <a rel="nofollow" href="http://www.facebook.com/templatemo" target="_parent">templatemo</a> website.
                Feel free to use it for your website.</p>
				<p><i class="fa fa-phone"></i> 010-020-0340</p>
				<p><i class="fa fa-envelope-o"></i> info@company.com</p>
              <p><i class="fa fa-globe"></i> www.company.com</p>
			</div>
		</div>
	</div>
</footer>
<script src="{{ url_for('static',filename='js/jquery.js') }}"></script>
<script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/nivo-lightbox.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/custom.js') }}"></script>

</body>
</html>